azure-core==1.27.1
azure-storage-blob==12.16.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==41.0.1
idna==3.4
isodate==0.6.1
jmespath==1.0.1
pycparser==2.21
python-dateutil==2.8.2
requests==2.31.0
s3transfer==0.6.1
typing_extensions==4.6.3
urllib3==1.26.16
